<div class="title-wrapper">
    <div class="title container">
        <div class="headline-font-wrapper">
            <h1>{{title1}}</h1>
        </div>
    </div>
    <div class="horizontal-separator white">
        <div class="icons text-ci-color">
            <i class="fa fa-star"></i>
            <i class="fa fa-star" style="font-size: 20px; padding: 0 5px;"></i>
            <i class="fa fa-star"></i>
        </div>
    </div>
    <div class="headline-font-wrapper">
        <h2>{{title2}}</h2>
    </div>
</div>