<div class="background-image-container" style="background-image: url('images/accomodation3.jpg')" >
    <title-wrapper title1="Unterkünfte" title2="Hier schlaft ihr gut!"></title-wrapper>
    <div class="information-wrapper">
        <div class="content">
            <p>Liebe Gäste,</p>
            </br>
            <p>zu unserer Hochzeit am Samstag, den 01. Juni 2019 laden wir euch recht herzlich ins schöne Freiburger Umland ein!</p>
            <p>Gebt uns doch bitte zeitnah Bescheid, ob ihr diesen Tag mit uns feiern wollt.</p>
            <p>Liebe Grüße,</p>
            </br>
            <p>Yvonne und Björn</p>
        </div>
    </div>
</div>