<navigation tab="accomodation"></navigation>
<div class="background-image-container" style="background-image: url('images/accomodation3.jpg')" >
    <title-wrapper title1="Unterkünfte" title2="Hier schlaft ihr gut!"></title-wrapper>
    <div class="information-wrapper">
        <div class="content">
            <div class="location">
                <div class="map">
                    <a target="_blank" href="https://www.google.de/maps/place/Ibentalstra%C3%9Fe+6,+79256+Buchenbach/@47.97256,7.9975013,17z/data=!3m1!4b1!4m5!3m4!1s0x4790e33af71835f1:0xe4a6120e819fd1b0!8m2!3d47.97256!4d7.99969">
                        <img src="images/huette.jpg">
                    </a>
                </div>
                <div class="location-details">
                    <div class="title">
                        Mit uns zusammen in der Hütte
                    </div>
                    <p class="city">Gummenwaldhütte Unteribental</p>
                    <p class="description">
                        Wer mag, kann gerne mit uns zusammen direkt in der Hütte übernachten.</br>
                        Dazu einfach Isomatte und Schlafsack mitbringen, dann machen wir es uns gemeinsam gemütlich.
                    </p>
                    <p class="address"><strong>Adresse: </strong><a target="_blank" href="https://www.google.de/maps/place/Ibentalstra%C3%9Fe+6,+79256+Buchenbach/@47.97256,7.9975013,17z/data=!3m1!4b1!4m5!3m4!1s0x4790e33af71835f1:0xe4a6120e819fd1b0!8m2!3d47.97256!4d7.99969">Ibentalstraße 6, 79256 Buchenbach</a></p>
                </div>
            </div>
            <div class="location">
                <div class="map">
                    <a target="_blank" href="www.schluessel-buchenbach.de">
                        <img src="images/gaestehaus_schluessel.png">
                    </a>
                </div>
                <div class="location-details">
                    <div class="title">
                        Gästehaus zum Schlüssel
                    </div>
                    <p class="city">Gästehaus zum Schlüssel</p>
                    <p class="description">Übernachtung (35€ EZ/DZ pro Nacht/Person) mit Frühstück in 2 Doppelzimmern und einem Einzelzimmer (Etagenbad mit Badewanne und Dusche).</p>
                    <p class="address"><strong>Adresse: </strong><a target="_blank" href="https://www.google.de/maps/place/G%C3%A4stehaus+zum+Schl%C3%BCssel/@47.966309,7.9912556,17z/data=!3m1!4b1!4m5!3m4!1s0x4790e32ddfb84b51:0xeda25b9c8358a3d2!8m2!3d47.966309!4d7.9934443">Burger Straße 4, 79256 Buchenbach</a></p>
                </div>
            </div>
            <div class="location">
                <div class="map">
                    <a target="_blank" href="www.adler-buchenbach.de">
                        <img src="images/gasthof_adler.png">
                    </a>
                </div>
                <div class="location-details">
                    <div class="title">
                        Gasthof Adler
                    </div>
                    <p class="city">Gasthof Adler</p>
                    <p class="description">Übernachtung (ab 40€ EZ / ab 72€ DZ pro Nacht) mit Frühstück in insgesamt 40 Betten.</p>
                    <p class="address"><strong>Adresse: </strong><a target="_blank" href="https://www.google.de/maps/place/Gasthof+Adler/@47.960571,8.0071883,17z/data=!3m1!4b1!4m5!3m4!1s0x4790e34b2ef973b9:0x6feae35d8509172d!8m2!3d47.960571!4d8.009377">Hauptstraße 22, 79256 Buchenbach</a></p>
                </div>
            </div>
            <div class="location">
                <div class="map">
                    <a target="_blank" href="https://www.airbnb.de/s/homes?refinement_paths%5B%5D=%2Fhomes&adults=2&children=0&checkin=2019-05-31&checkout=2019-06-02&query=Buchenbach&allow_override%5B%5D=&zoom=11&search_by_map=true&sw_lat=47.782831496028855&sw_lng=7.851626315917997&ne_lat=48.150352223626555&ne_lng=8.26155368408206&s_tag=Bs9BpNFY">
                        <img src="images/airbnb_buchenbach.png">
                    </a>
                </div>
                <div class="location-details">
                    <div class="title">
                        AirBnb - Ferienwohnungen / Zimmer rund um Buchenbach / Kirchzarten / Freiburg
                    </div>
                    <p class="city">Buchenbach / Kirchzarten / Freiburg</p>
                    <p class="description">
                        AirBnb bietet rund um Buchenbach, Kirchzarten und Freiburg verschiedene Ferienwohnungen und Zimmer an, welche auch nur für einzelne Tage buchbar sind.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>