<navigation tab="groomsmen"></navigation>
<div class="background-image-container" style="background-image: url('images/groomsmen.jpg')" >
    <title-wrapper title1="Die Trauzeugen" title2="Sie helfen Euch sicher!"></title-wrapper>
    <div class="information-wrapper">
        <div class="content">
            <div class="groomsmen-wrapper">
                <div class="groomsmen-head">
                    <h4>Falls ihr Anregungen / Ideen / (vertrauliche) Fragen etc. zur unserer Hochzeit habt, könnt ihr euch gerne an unsere Trauzeugen wenden ;)</h4>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="groomsmen-image-container">
                            <img class="groomsmen-image" src="images/frank.jpg">
                        </div>
                        <div class="groomsmen-body">
                            <h3 class="groomsmen-name">Frank</h3>
                            <p style="font-style: italic">Trauzeuge</p>
                            <p>
                                <i class="fas fa-at"></i> <a href="mailto:hagemeister.frank@live.com">frank.hagemeister@live.com</a></br>
                                <i class="fas fa-phone"></i> <a href="tel:+491704948815">+49 (0)170 4948815</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="groomsmen-image-container">
                            <img class="groomsmen-image" src="images/lisa.jpg">
                        </div>
                        <div class="groomsmen-body">
                            <h3 class="groomsmen-name">Lisa</h3>
                            <p style="font-style: italic">Trauzeugin</p>
                            <p>
                                <i class="fas fa-at"></i> <a href="mailto:lisfries@web.de">lisfries@web.de</a></br>
                                <i class="fas fa-phone"></i> <a href="tel:+491701185785">+49 (0)170 1185785</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>