<navigation tab="locations"></navigation>
<div class="background-image-container" style="background-image: url('images/locations.jpg')" >
    <title-wrapper title1="Locations" title2="So findet ihr uns sicher!"></title-wrapper>
    <div class="information-wrapper">
        <div class="content">
            <div class="location">
                <div class="map">
                    <a target="_blank" href="https://www.google.de/maps/place/Gemeindeverwaltung+Buchenbach/@47.9608649,8.0064646,17z/data=!4m13!1m7!3m6!1s0x4790e34ad9d9d15f:0x5839ab8f548323b9!2sHauptstra%C3%9Fe+20,+79256+Buchenbach!3b1!8m2!3d47.9608649!4d8.0086533!3m4!1s0x4790e34ad9e896cb:0xa626e0a0369b23d2!8m2!3d47.96089!4d8.00862">
                        <img src="images/buchenbach.png">
                    </a>
                </div>
                <div class="location-details">
                    <div class="title">
                        Standesamtliche Trauung
                    </div>
                    <p class="city">Standesamt Buchenbach, 01. Juni 2019 um 11:00 Uhr</p>
                    <p class="description">Die standesamtliche Trauung findet im engen Familienkreis statt.</p>
                    <p class="address"><strong>Adresse: </strong><a target="_blank" href="https://www.google.de/maps/place/Gemeindeverwaltung+Buchenbach/@47.9608649,8.0064646,17z/data=!4m13!1m7!3m6!1s0x4790e34ad9d9d15f:0x5839ab8f548323b9!2sHauptstra%C3%9Fe+20,+79256+Buchenbach!3b1!8m2!3d47.9608649!4d8.0086533!3m4!1s0x4790e34ad9e896cb:0xa626e0a0369b23d2!8m2!3d47.96089!4d8.00862">Hauptstraße 20, 79256 Buchenbach</a></p>
                </div>
            </div>
            <div class="location">
                <div class="map">
                    <a target="_blank" href="https://www.google.de/maps/place/Ibentalstra%C3%9Fe+6,+79256+Buchenbach/@47.97256,7.9975013,17z/data=!3m1!4b1!4m5!3m4!1s0x4790e33af71835f1:0xe4a6120e819fd1b0!8m2!3d47.97256!4d7.99969">
                        <img src="images/huette_maps.PNG">
                    </a>
                </div>
                <div class="location-details">
                    <div class="title">
                        Freie Trauung
                    </div>
                    <p class="city">Gummenwaldhütte Unteribental, 01. Juni 2019 um 14:00 Uhr</p>
                    <p class="description">Wir freuen uns darauf unsere Freie Trauung mit Euch allen an der Gummenwaldhütte durchzuführen!</p>
                    <p class="address"><strong>Adresse: </strong><a target="_blank" href="https://www.google.de/maps/place/Ibentalstra%C3%9Fe+6,+79256+Buchenbach/@47.97256,7.9975013,17z/data=!3m1!4b1!4m5!3m4!1s0x4790e33af71835f1:0xe4a6120e819fd1b0!8m2!3d47.97256!4d7.99969">Ibentalstraße 6, 79256 Buchenbach</a></p>
                </div>
            </div>
            <div class="location">
                <div class="map">
                    <a target="_blank" href="https://www.google.de/maps/place/Ibentalstra%C3%9Fe+6,+79256+Buchenbach/@47.97256,7.9975013,17z/data=!3m1!4b1!4m5!3m4!1s0x4790e33af71835f1:0xe4a6120e819fd1b0!8m2!3d47.97256!4d7.99969">
                        <img src="images/huette_maps.PNG">
                    </a>
                </div>
                <div class="location-details">
                    <div class="title">
                        Hochzeitsfeier
                    </div>
                    <p class="city">Gummenwaldhütte Unteribental, 01. Juni 2019 um 18:00 Uhr</p>
                    <p class="description">Hier wollen wir mit Euch zusammen Essen, Trinken, viel Lachen und einfach einen tollen Abend haben!</p>
                    <p class="address"><strong>Adresse: </strong><a target="_blank" href="https://www.google.de/maps/place/Ibentalstra%C3%9Fe+6,+79256+Buchenbach/@47.97256,7.9975013,17z/data=!3m1!4b1!4m5!3m4!1s0x4790e33af71835f1:0xe4a6120e819fd1b0!8m2!3d47.97256!4d7.99969">Ibentalstraße 6, 79256 Buchenbach</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
