<navigation tab="newlyweds"></navigation>
<div class="background-image-container" style="background-image: url('images/wedding_rings.jpg')" >
    <title-wrapper title1="Das Brautpaar" title2="Ein kleiner Ausschnitt von uns!"></title-wrapper>
    <div class="information-wrapper">
        <div class="content">
            <div class="newlyweds-wrapper" ng-controller="NewlywedsController">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="../images/Bild1_Yvonne_ich.jpg" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../images/Bild2_Yvonne_ich.jpg" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../images/Bild4_Yvonne_ich.jpg" alt="Third slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../images/Bild7_Yvonne_ich.jpg" alt="Third slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../images/Bild8_Yvonne_ich.jpg" alt="Third slide">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>