<navigation tab="schedule"></navigation>
<div class="background-image-container" style="background-image: url('images/schedule.jpg')" >
    <title-wrapper title1="Tagesablauf" title2="Was passiert wann?"></title-wrapper>
    <div class="information-wrapper">
        <div class="content">
            <ul class="activities">
                <li class="activity">
                    <div class="icon-wrapper">
                        <div class="icon">
                            <i class="fa fa-ring"></i>
                        </div>
                    </div>
                    <div class="activity-content">
                        <h3 class="activity-header">
                            11:00 - Standesamtliche Trauung
                        </h3>
                        <p class="actitity-description">
                            Die standesamtliche Trauung findet im engen Familienkreis statt.
                        </p>
                    </div>
                </li>
                <li class="activity">
                    <div class="icon-wrapper">
                        <div class="icon">
                            <i class="fa fa-user-friends"></i>
                        </div>
                    </div>
                    <div class="activity-content">
                        <h3 class="activity-header">
                            14:00 - Freie Trauung an der Hütte
                        </h3>
                        <p class="actitity-description">
                            Unsere Freie Trauung wollen wir gemeinsam mit euch allen an der Gummenwaldhütte durchführen.
                        </p>
                    </div>
                </li>
                <li class="activity">
                    <div class="icon-wrapper">
                        <div class="icon">
                            <i class="fa fa-wine-glass"></i>
                        </div>
                    </div>
                    <div class="activity-content">
                        <h3 class="activity-header">
                            14:45 - Sektempfang vor der Hütte
                        </h3>
                        <p class="actitity-description">
                            Keine Angst - es wird auch eine Kleinigkeit zu essen geben ;)
                        </p>
                    </div>
                </li>
                <li class="activity">
                    <div class="icon-wrapper">
                        <div class="icon">
                            <i class="fa fa-camera"></i>
                        </div>
                    </div>
                    <div class="activity-content">
                        <h3 class="activity-header">
                            15:30 - Fotoshooting
                        </h3>
                        <p class="acitity-description">
                            Wir würden uns freuen mit allen Gästen ein paar gemeinsame Fotos zu machen.
                        </p>
                    </div>
                </li>
                <li class="activity">
                    <div class="icon-wrapper">
                        <div class="icon">
                            <i class="fa fa-glass-martini-alt"></i>
                        </div>
                    </div>
                    <div class="activity-content">
                        <h3 class="activity-header">
                            18:00 - Die große Feier!
                        </h3>
                        <p class="acitity-description">
                            Es wird gegessen, gefeiert und getanzt.</br>
                            Wir freuen uns darauf, mit euch unseren besonderen Tag zu genießen.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
