<page-header></page-header>

<div class="container-fluid content text-center" ng-controller="SignupController">
    <div class="row">
        <div class="col-md-12">
            <h1>Create a new account</h1>
            <div>
                <label class="item item-input">
                    <input type="text" placeholder="Firstname" ng-model="user.firstname">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Lastname" ng-model="user.lastname">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Email" ng-model="user.email">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Password" ng-model="user.password">
                </label>
            </div>
            <button class="btn btn-primary" ng-click="signup()">Signup</button>
        </div>
    </div>
</div>